<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (entries.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Krankheit</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Maßnahme/Medikament/Wirkstoff</th>
                        <th scope="col">Hat anderen geholfen?</th>
                        <th scope="col">Anzahl d. Bewertungen</th>
                        <th scope="col">Details</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% entries.forEach((entry, index) => { %>
                        <tr>
                            <th scope="row"><%= entry.illness %></th>
                            <td><%= entry.action_categorie %></td>
                            <td><%= entry.action_name %></td>
                            <td><%= entry.improvement %>&#037;</td>
                            <td><%= entry.total %></td>
                            <td><li>Studie 1</li>
                            <li>Detailiertere Einträge</li> </td>
                            <td>
                                <a href="/edit/<%= entry.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= entry.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No entries found. Go <a href="/add" >here</a> to add entries.</p>
        <% } %>
    </div>
</div>
</body>
</html>
